[Unit]
Description=Nextcloud - Main Service
After=docker.service

[Service]
WorkingDirectory=%h/nextcloud

Type=notify
ExecStartPre=/bin/bash bin/pull-all.sh
ExecStart=/bin/bash bin/start_and_watch.sh

ExecStop=/usr/bin/docker-compose stop

Restart=always
RestartSec=5sec
NotifyAccess=all
WatchdogSec=0

TimeoutStartSec=infinity

[Install]
WantedBy=default.target
