[Unit]
Description=Preview Generator
After=nextcloud.service files-scan-all.service preview-generate-all.service
PartOf=nextcloud.service

[Service]
ExecStart=/usr/bin/docker-compose -f %h/nextcloud/docker-compose.yml exec -T --user www-data app php occ preview:pre-generate
Restart=always
RestartSec=10min

[Install]
WantedBy=nextcloud.service
